@font-face {
	font-family: 'PFF-icons';
	src:url('fonts/PFF-icons.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFF-icons';
	src:url('fonts/PFF-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/PFF-icons.ttf') format('truetype'),
		url('fonts/PFF-icons.woff') format('woff'),
		url('fonts/PFF-icons.svg#PFF-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="PFFicon-"], [class*=" PFFicon-"] {
	font-family: 'PFF-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.PFFicon-home:before {
	content: "\e600";
}
.PFFicon-stack:before {
	content: "\e601";
}
.PFFicon-compass:before {
	content: "\e602";
}
.PFFicon-map:before {
	content: "\e603";
}
.PFFicon-map2:before {
	content: "\e604";
}
.PFFicon-minus:before {
	content: "\e605";
}
.PFFicon-plus:before {
	content: "\e606";
}
.PFFicon-info:before {
	content: "\e607";
}
.PFFicon-plus2:before {
	content: "\e608";
}
.PFFicon-minus2.PFFicon-plus2:before {
	content: "\e608";
}
.PFFicon-minus2:before {
	content: "\e609";
}
.PFFicon-group:before {
	content: "\e60a";
}
.PFFicon-cogs:before {
	content: "\e60b";
}
.PFFicon-chevron-up:before {
	content: "\e60c";
}
.PFFicon-chevron-down:before {
	content: "\e60d";
}
.PFFicon-envelope-alt:before {
	content: "\e60e";
}
.PFFicon-sitemap:before {
	content: "\e60f";
}
.PFFicon-download-alt:before {
	content: "\e610";
}
.PFFicon-ellipsis-vertical:before {
	content: "\e611";
}
.PFFicon-th:before {
	content: "\e612";
}



.legicon{width:35px;
	height:31px;
	border-right: 1px solid #E4E4E4;
	text-align:center;
	line-height: 31px;
	float:left;
	font-weight: bold;
    font-size: 1.2em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	        filter: alpha(opacity=70);
	        -moz-opacity: 0.7;
	        -khtml-opacity: 0.7;
	        opacity: 0.7;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.legicon:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	        filter: alpha(opacity=100);
	        -moz-opacity: 1;
	        -khtml-opacity: 1;
	        opacity: 1;
}